<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stu.syllabus">

    <!-- for mta statistics, not necessary -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".person.personal.UpdateSignatureActivity"></activity>
        <activity android:name=".person.personal.UpdateNicknameActivity" />
        <activity android:name=".person.personal.UpdateAvatarActivity" />
        <activity android:name=".syllabus.lessoninfo.LessonInfoActivity" />
        <activity android:name=".person.setting.HelpAndFeedbackActivity" />
        <activity android:name=".person.setting.AboutActivity" />
        <activity android:name=".person.personal.PersonalActivity" />
        <activity android:name=".person.setting.SettingActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity
            android:name=".login.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Login.BG" />
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".login.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher.BG">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>